.item-squeeze{
  margin-bottom:2em;
}

.top-flex{
  display:flex;
  justify-content: space-around;
  margin-top:11em; 
}

body{
  margin: 0 auto;

  max-width: 100%;
  font-family: "Roboto";
  overflow-x: auto;
  overflow-y: auto;
  background-size: cover;
 
}

.top-title{
  text-align:center;
  margin-top:1em;
  color:blue;
  font-style:italic;
  height:3em;
  font-size:4.5em;
}

.search-name{
  text-align:center;
}

.h-one{
  text-align:center;
  color:#336B87;
  font-size:2.5em;
  padding-left:2.5em
}

.search-wrapper{
display:flex;
justify-content: center;
flex-direction:column;
width:12em;
}

.button{
  margin-bottom:6em;
  height:4em;
}

.wishlist-wrapper{
  display:flex;
  flex-direction:column;
  justify-content: center;
  width: 30em;
  height:30em;
  margin:0 auto;
}

.MuiListItemText-root{
  text-align:center;
}

i.material.md-24{
  margin:0px;
}

.last{
  display:flex;
  flex-direction:row;
  justify-content:center;
  width:13em;
}

.item-wrapper{
  display:flex;
  justify-content:space-between;
  padding:.6em;
}

.event-icon-wrapper{
  padding-top:1em;
  padding-right:.5em;
  display:flex;
  flex-direction:row;
}

.icon-wrapper{
  display:flex;
  flex-direction: row;
}

.event-wrapper{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
}

.home-icon{
text-align:right;
padding:1.4em;
}

.MuiTypography-root.MuiListItemText-primary{
  font-size:1em;
  font-weight:600;
}


.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10em;
    padding-bottom: -3em;
    margin-bottom:-5.5em; 
}